[submodule "themes/introduction"]
	path = themes/introduction
	url = https://github.com/victoriadrake/hugo-theme-introduction.git
[submodule "themes/faro-analytics"]
	path = themes/faro-analytics
	url = https://github.com/cbos/hugo-faro-analytics.git
